%meta(name='twitter:card' content='summary')
%meta(name='twitter:site' content='@masarakki')
%meta(name='twitter:title' content='twishlist')
%meta(name='twitter:description' content='give a shortcut for your amazon wishlist with your twitter id, like https://twishli.st/masarakki')

.lead.text-center
  Shorten your #{fa_icon 'amazon'} wishlist URL to

  %p
    %code
      https://twishli.st/{your_#{fa_icon 'twitter'}_id}

  %p
    = link_to 'Start Twishli.st', user_twitter_omniauth_authorize_url, class: 'btn btn-lg btn-success'

.text-center
  Sample:
  = link_to wishlist_url('masarakki'), wishlist_url('masarakki')
