$font-size-base: 24px;
$font-family-sans: Merriweather;

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import url(https://fonts.googleapis.com/css?family=Merriweather);
@import 'font-awesome';

.jumbotron,
.lead {
  background-color: transparent;
  text-align: center;
  font-family: Merriweather;
}

form {
  margin: 0 10%;
  text-align: center;

  .form-group {
    margin: 32px 0;
  }
}
